$color-green: rgb(42, 180, 42);
$color-green-toggle: #2ca83f;
// $color-yellow-blue: rgb(4, 204, 204);
$color-yellow-dark: rgb(235, 205, 37);
$color-red: rgb(241, 78, 78);
$color-grey: rgb(173, 173, 173); 