@forward 'reset';
@use "../abstracts/colors" as *;

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;


/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: $color-green;
    height: 0.5rem;
  }
  
  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background: $color-green;
    height: 0.5rem;
  }}

#myRange {
    width: 88%;
}

.grid {
    border: 15px solid black;
    padding: 1rem;
    font-size: 1.5rem;

}

.account {
    background-color: $color-green;
    color: #FFF;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;

    &__value{
        
    }
}

.numbers-display {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    
}

.initial-number,
.target-number {
    padding: 2rem;
    border: 2px solid #000;
    width: 50%;
    text-align: center;
}

.initial-number {
    
    background-color: $color-yellow-light;
    
    &__value{
        font-size: 6rem;
        font-weight: 900;
        
    }
}

.target-number {
   
    background-color: $color-yellow-dark;
    
    &__value{
        font-size: 6rem;
        font-weight: 900;
    }
}

.betting-control {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.btn-bet {
    color: #000;
    font-size: 3.5rem;
    padding:1rem;
    background-color: $color-red;
    border: 0;
    font-weight: 900;
    border: 2px solid #000;
    margin: 1rem 0;
    width: 100%;
    cursor: pointer;
}

.slidecontainer {
    display: flex;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    // background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-top: 1rem;
}

.output {
    align-self: center;
padding-left: 0.5rem;
}



.hi-lo-buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.btn-high,
.btn-low {
    padding: 1rem 2.5rem;
    background-color: $color-grey;
    border: 0;
    width: 60%;
    font-size: 3rem;
    font-weight: 900;
    cursor: pointer;
    border:2px solid black;

    &:hover {
        background-color: rgb(240, 240, 240);
    }

    
}

.btn.btn-toggle {
    background-color: $color-green-toggle;
}

.message-area {
    // margin-top: 1rem;
}

.message {
    font-weight: 400;
}

// .btn-high {

// }

// .btn-low {
    
// }






